<!-- Creamos el formulario con la variable correspondiente y la accion que haremos al hacer submit-->

<form [formGroup]="fg" 
(ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls['url'].value)">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <!-- metemos el numeral #nombre para que luego el valor que se meta lo podamos usar en la template -->
       <!-- - <input type="text"	class="form-control" id="nombre" placeholder="Ingresar nombre..." #nombre> -->
       <!-- Vinculamos esta entrada de datos al valor de fg.controls.nombre -->
       <input type="text"	class="form-control" id="nombre" placeholder="Ingresar nombre..." 
       [formControl]="fg.controls['nombre']">
    </div>
    <div class="form-group">
        <label for="Imagen Url">Imagen Url</label>
        <!-- metemos el numeral #url para que luego el valor que se meta lo podamos usar en la template -->
        <!-- <input type="text" class="form-control"	id="imagenUrl" placeholder="Ingresar url..." #url> -->
        <!-- Vinculamos esta entrada de datos al valor de fg.controls.url -->
       <input type="text"	class="form-control" id="imagenUrl" placeholder="Ingresar nombre..." 
       [formControl]="fg.controls['url']">
    </div>
    <!-- Le vamos a crear una funcion al boton pasandole los valores de los 2 inputs y la definimos en la template -->
    <!-- <button	type="submit" class="btn btn-primary" (click)="guardar(nombre.value,url.value)">Guardar</button> -->
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
