<!-- Como ya existe relacion entre el component y su html podemos usar las variables de este y para mostrarlas solo usamos {{variable}} 
en nuestro caso la variable nombre, que es la que en el clase hemos recogido de la lista de destinos y se la hemos pasado a este componente con el *ngFor-->
<!--
<li class="list-group-item">
	{{nombre}}
</li>
--> 

<!-- quitamos este div porque angular nos encapsula el componente app-destino-viaje y ocupa los 12 espacias del row del bootstrap y por eso los siguiente los carga abajo , en el componente metemos una directiva para solucionarlo 

<div class="col-md-4"> -->
	<div class="card-content">
		<div class="card-img">
			<img src="https://placeimg.com/380/230/nature"	alt="">
			<!-- cada vez que carguemos una tarjeta en el Heading le mostramos el nombre pasado que lo sacamos del compomnente-->
			<span><h4>{{position}}</h4></span>
		</div>
		<div class="card-desc">
			<!-- cada vez que carguemos una tarjeta en la descripcion mostramos el nombre pasado que lo sacamos del componente-->
			<h3>{{destino.nombre}}</h3>
			<p>Servicios</p>
			<ul>
				<!-- iteramos los servicios que tienes ese destinoViaje-->
				<li *ngFor="let s of destino.servicios">
					<!-- Utilizamos el switch si coincide con desayuno lo mostramos en italica y color rojo-->
					<span [ngSwitch]="s">
						<i *ngSwitchCase="'desayuno'" style="color:red">{{s}}</i>
						<i *ngSwitchDefault>{{s}}</i>
					</span>

				</li>
			</ul>
			
			<!-- aqui llamamos al metodo ir de nuestro Ts -->	
			<a href="#"	class="btn-card" (click)="ir()">IR</a>
			
			<!-- Se muestra si al ir al metodo nos devuelve un true, sino no se muestra usando (style.display) se puede hacer asi-->
		<!--	<span [style.display]="destino.isSelected() ? '' : 'none'"> PREFERIDO </span>	o usando *ngIF		-->
			<span *ngIf="destino.isSelected()">
				<!-- con el ngNonBindable hacemos que lo que esta entre {{}} angular no lo interprete como variable del componente-->
				<span ngNonBindable>{{PREFERIDO}}</span>
			 </span>
			 <a [routerLink]="['/destino']">Ver Detalle</a>
		</div>
	</div>
<!-- </div> -->
