<!-- Usamos el iterador de angular *ngFor="let x of (variable en nuestro caso)
	*ngFor="let x of destinos"  creando x veces el app-destino-viaje por tanto la variable de ese array pasarla al component destino-viaje
	por eso hay que poner el component en import el Input y decir que a la variable nombre le pasamos el valor de X-->

<!-- Del modulo  1 Leccion 2 
<ul class="list-group">
	<app-destino-viaje *ngFor="let x of destinos" [nombre]="x"></app-destino-viaje>
</ul>
 x solo tiene el valor en ese tag 
-->


<div class="container content">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<span class="anchor" id="formLogin"></span>
			<!-- form	card	login	with	validation	feedback	-->
			<div class="card	card-outline-secondary">
				<div class="card-header">
					<h3	class="mb-0">Whishlist</h3>
				</div>
				<div class="card-body">
					<app-form-destino-viaje (onItemAdded)="guardar($event)"></app-form-destino-viaje>
				</div>
			</div>
		</div>
	</div>

	<hr	class="mb-5">
	
	<div class="row row-flex">
		<!-- vamos a mostrar todos los destinos que guardemos y con la funcion clicked que hemos creado
		en el componente destino.viaje le pasamos el propio evento que en la declaracion de este es un DestinoViaje
		en este ejemplo podriamos pasarle la d porque d es uno de los DestinoViaje agregados a la lista 
		** Clicked es una invocacion del hijo (Destino-viaje-component) que nos pasa un DestinoViaje a (lista-destinos-component) en el
		cual invocamos la funcion elegido del componente padre pasandole el DestinoViaje que ha sido pinchado
		en i introducimos el indice para saber la posicion-->
		<app-destino-viaje *ngFor="let d of destinos; let i=index" 
		[destino]="d" [idx]="i+1"
		 (clicked)="elegido($event)"></app-destino-viaje>

	</div>
</div>

