<div class="container content">
 
  <!-- Metemos una cabecera de navegacion -->
  <div class="page-header">
      <div class="container">
        <h1>Ruteo Simple</h1>
        <div class="navLinks">
          <!-- En vez de href utilizamos la directiva de angular routerLink para que vaya a la Home-->
          <a [routerLink]="['/home']">Home</a>
          &nbsp;
          <!-- En vez de href utilizamos la directiva de angular routerLink para que vaya a la Home-->
          <a [routerLink]="['/destino']">Destino</a>
        </div>
      </div>
  </div>
  
  <div class="row">
    <h1>
      <!-- Como ya existe relacion entre el component y su html podemos usar las variables de este y para mostrarlas solo usamos {{variable}} 
en nuestro caso la variable title dentro de app.component.ts -->

      {{ title }}
    </h1>
  </div>

  <!-- Cambiamos la ruta fija de app-lista-destinos por lo que vaya indicando el enrutador, haciendo la pagina dinamica -->
  <router-outlet></router-outlet>

    <!-- Aqui se añade un component para saber la relacion buscamos el selector : y el nombre
	en nuestro caso selector: 'app-destino-viaje' y nos dira que template y style carga (en nuestro caso destino-viaje.component.... (html y css)
    <app-destino-viaje></app-destino-viaje>
    <br> -->
    <!-- al final usamos este componente donde dentro meteresmo el destino-viaje -->
  <!--  <app-lista-destinos></app-lista-destinos> -->
</div>